{{!-- Attack Navigation --}}
<nav class="sheet-navigation tabs subtabs attacks" data-group="attacks">
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="attacks-body">
  {{#each sections as |section sid|}}
  <div class="tab inventory-group flexcol {{#if section.initial}}active{{/if}}" data-group="attacks" data-tab="{{sid}}">
    <ol class="inventory-list sub-scroll scroll-attacks">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>

        {{#if section.showTypes}}<div class="item-detail item-type"><span>{{localize "PF1.Type"}}</span></div>{{/if}}
        
        <div class="item-detail item-actions"><span>{{localize "PF1.ActionPlural"}}</span></div>
        
        <div class="item-detail item-uses"><span>{{localize "PF1.ChargePlural"}}</span></div>
        
        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="Create Item" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          {{/if}}
        </div>
        {{/if}}
      </li>
      
      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>
              {{item.name~}}
            </h4>
          </div>

          {{#if section.showTypes}}
          <div class="item-detail item-type">
            <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
          </div>
          {{/if}}
          
          <div class="item-detail item-actions">
            <div class="item-attack">
              {{#if item.hasAction}}
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
              {{/if}}
            </div>
          </div>
          
          <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
            {{#if item.isCharged}}
            <input type="text" value="{{item.data.uses.value}}" data-dtype="Number"/>
            <span class="sep"> of </span>
            <input type="text" value="{{item.data.uses.max}}" disabled data-dtype="Number"/>
            <span class="tooltipcontent">
              @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
              @resources.{{item.tag}}.max : {{item.data.uses.max}}
            </span>
            {{/if}}
          </div>
          
          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
  {{/each}}
</section>
